.nav-avatar a{
    color:black;
}
.nav-avatar .dropdown-menu i {
    font-size: 16px;
    min-width: 22px;
}
.nav-avatar .dropdown.open > a {
    background: none !important;
    color: #777;
}
.nav-avatar .dropdown-menu {
    border-radius: 1px;
    border-color: #e5e5e5;
    box-shadow: 0 2px 8px rgba(0,0,0,.05);
}
.nav-avatar .dropdown-menu li a {
    color: #777;
    padding: 8px 20px;
    line-height: normal;
}
.nav-avatar .dropdown-menu li a:hover, .nav-avatar .dropdown-menu li a:active {
    color: #333;
}	
.nav-avatar .dropdown-menu .material-icons {
    font-size: 21px;
    line-height: 16px;
    vertical-align: middle;
    margin-top: -2px;
}
.nav-avatar .active a, .nav-avatar .active a:hover, .nav-avatar .active a:focus {
    background: transparent !important;
}